doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title #{title} | E-commerce Store
    link(rel="stylesheet", href="/css/styles.css")
  body
    header#header
      div.header-container
        div#title-wrapper
          h2#site-name
            a(href="/") ShopIT
        div.nav-wrapper
          nav
            ul
              li.nav-links
                a(href="/") Home
              li.nav-links
                a(href="/about") About
              li.nav-links
                a(href="/contact") Contact
    main#main
      block layout-content
    footer#footer
      div.footer-container
        div.footer-content
          p &copy; Copyright Genevieve HTTP5222, 2025.
        div.footer-content
          a(href="#") Terms
        div.footer-content
          a(href="#") Privacy
        div.footer-content
          a(href="#") Socials
